:root{
    --spacing: 2rem;
}

.conta{
    margin: 0.5rem;
    justify-self: center;
    grid-area: "conta";
    box-shadow: 0 0 1em .25em black;
}
table{
    border-collapse: collapse;
    width: 35vw;
    min-width: 30vw;
    max-width: 30vw;
}
tr{
    width: 20vh;
}
.table-header{
    background-color: black;
    color: white;
    border: 1px grey solid;
}
.info{
    width: fit-content;
    background-color: black;
    color: white;
    border: 1px grey solid; 
}
.value{
    text-align: justify;
    overflow: hidden;
    border: 1px grey solid; 
}
.desc-div{
    font-size: small;
    height: 10vh;
    overflow: scroll;
}


.delete-btn{
    cursor: pointer;
    margin-left: auto;
    color: white;
    background-color: transparent;
    border: none;
}

/* width */
::-webkit-scrollbar {
    width: 3px;
    height: 1px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    height: 1px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    height: 1px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }