.form-div{
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(255, 255, 255, 0.5);
    width: 100vw;
    height: 100vh;
}
.contas-form{
    box-shadow:  0 0 1em 5px rgb(53, 53, 53);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 1px black solid;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(5, 5, 5);
    width: 35vw;
    padding: 0.25rem;
}
.contas-form  label{

    border-block: 1px grey solid;
    color: white;
    width: 40%;

}
.contas-form input{
    width: 100%;
    min-width: 1px;
}
.form-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.form-btn{
    background-color: grey;
    color: white;
}
.form-btn:hover{
    cursor: pointer;
    background-color: rgb(70, 70, 70);
    color: white;
}